.chat-area {
  height: 80%;
  width: 90%;
  margin: 0 auto;
  background: white;
  border-radius: 30px 30px 30px 30px;
  border: solid 1px;

  .message-area {
    margin: 10px auto;
    height: 80%;
    width: 90%;
    overflow: scroll;

    .left {
      display: flex;
      border-radius: 10px;
      border: solid 1px;
      width: 70%;
      margin: 10px;
      background-color: #16ab16;
      color: white;
      span {
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    .right {
      display: flex;
      flex-direction: row-reverse;
      border-radius: 10px;
      border: solid 1px;
      width: 70%;
      float: right;
      background-color: #2d16ab;
      color: white;
      span {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }

  .input-area {
    width: 100%;
    height: 13%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

    textarea {
      margin-left: 20px;
      width: 80%;
      height: 100%;
    }
    button {
      margin: 10px;
      height: 40px;
    }
  }
}
